<Pixcrawl::Pbar @highlight="download" />
<div class="main download" {{did-insert this.recieveDownloadRequests}}>
    <Pixcrawl::Progress @count={{this.downloadResults.count}} @total={{this.downloadResults.total}} />
</div>
<Pixcrawl::SideNav @back={{this.back}} @prevRoute="pixcrawl.index" />