<nav class="navbar">
    <div class="title">
        the <button type="button">PICT</button> project
    </div>
    {{#each @pages as |page|}}
    <div>
        <button type="button" class="{{if (eq page @page) "focused"}}"
            {{on "click" (fn this.navTo page)}}>{{page}}</button>
        {{#if (eq page @page)}}
            <ShrinkTransition />
        {{/if}}
    </div>
    {{/each}}
</nav>
