html :has(.picture) {
    overflow-y: scroll;
}

html :has(.ani.rain) {
    overflow: hidden;
}
    
.picture {
    @include flex-cc;
    width: 80vw;
    .img-original {
        @include flex-cc;
        .info {
            align-self: flex-start;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin: 2em 0;
            .title {
                font-size: 2.5em;
                font-weight: bold;
                color: royalblue;
                margin-top: 50px;
                margin-bottom: .2em;
            }
            .illust {
                font-size: 1.8em;
                i {
                    font-size: 0.8em;
                    color: gray;
                }
                margin-bottom: .6em;
                @include makeUrl;
            }
            .time {
                @include flex-cr;
                justify-content: flex-start;
                @include makeUrl;
                .clock-solid {
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                }
                margin-bottom: 1em;
            }
            .views {
                span {
                    margin-right: 5px;
                }
            }
        }
        .preview {
            @include flex-cc;
            img {
                max-width: 80vw;
                object-fit: contain;
            }
        }
    }
    .tags {
        align-self: flex-start;
        margin: 50px 0;
        .title {
            @include flex-cr;
            justify-content: flex-start;
            .hashtag-solid {
                width: 32px;
                height: 32px;
                margin-right: 10px;
            }
            font-size: 2em;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .tags-main {
            @include flex-cr;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 20px;
            .tag {
                margin-right: 1em;
                font-size: 1.2em;
                width: max-content;
                @include makeUrl;
                span {
                    color: gray;
                    font-size: 0.8em;
                }
            }
        }
    }
}