<button class="download-bar" type="button" ...attributes {{on "click" this.startDownload}}>
    <div class="bg"></div>
    <div class="progress"></div>
    <div class="text">
        {{this.percent}}<span>%</span>
    </div>
</button>