<div class="progress">
    <div class="title">
        <Svg::ChevronRight />
        完成率：{{@count}} / {{@total}}
        <i> {{percentage @count @total}}%</i>
    </div>
    <div class="bar">
        <div style={{html-safe (printf "width: $1%" (percentage @count @total))}} />
    </div>
</div>