<div class="steps">
    <Pixcrawl::Diamond @title="Keyword" @title-position="upper" @index="0" @focused="true" />
    <div class="line" />
    <Pixcrawl::Diamond @title="Search" @title-position="lower" @index="1"/>
    <div class="line" />
    <Pixcrawl::Diamond @title="Crawl" @title-position="upper" @index="2"/>
    <div class="line" />
    <Pixcrawl::Diamond @title="Download" @title-position="lower" @index="3" />
</div>
