<div class="result uid" ...attributes>
    <img alt="avatar" class="avatar" {{did-insert this.showImage}}>
    <div class="name">{{@uidResult.value.name}}</div>
    <div class="uid">{{@uidResult.value.uid}}</div>
</div>