<Navbar @page="File Manager" @pages={{array
    "Home"
    "Settings"
    "PixCrawl"
    "File Manager"
    "IRIS"
}}/>
<h1>FM</h1>
<ArrowTransition @direction="left" />
<ArrowTransition @direction="right" />