{{page-title "PixCrawl"}}

<Navbar @page="PixCrawl" @pages={{array "Home" "Settings" "PixCrawl" "File Manager" "IRIS" }} />

<Pixcrawl::Steps />
<Pixcrawl::DiagMsg>
    testMsg
</Pixcrawl::DiagMsg>
<div class="pixcrawl">
    <Pixcrawl::KwdInput />
</div>

<ArrowTransition @direction="left" />
<ArrowTransition @direction="right" />
