@import "../mixins/flex.scss";

.pixcrawl.pbar {
    position: fixed;
    width: 80%;
    top: 100px;
    @include flex-sar;
    .node {
        @include flex-cc;
        &.stepped .dot:hover {
            background: royalblue;
            transform: scale(1.5);
        }
        .dot {
            width: 20px;
            height: 20px;
            background: gainsboro;
            border-radius: 10px;
            margin-bottom: 10px;
            transition: all 0.3s cubic-bezier(0.42, 0, 0.1, 1.77);
        }
        .desc {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1em;
        }
        &.highlight {
            .dot {
                background: royalblue;
                transition: none;
                &:hover {
                    background: royalblue;
                    transform: none;
                    cursor: default;
                }
            }
            .desc {
                font-weight: bold;
            }
        }
    }
    .jointline {
        position: fixed;
        height: 2px;
        background: gainsboro;
        z-index: -1;
        > div {
            width: inherit;
            height: inherit;
            background: royalblue;
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            &.fill-lvl1 {
                animation: jointline-fill 0.1s ease-out both;
            }
            &.fill-lvl2 {
                animation: jointline-fill 0.1s ease-out 0.1s both;
            }
            &.fill-lvl3 {
                animation: jointline-fill 0.1s ease-out 0.2s both;
            }
            &.unfill-lvl1 {
                animation: jointline-unfill 0.1s ease-out both;
            }
            &.unfill-lvl2 {
                animation: jointline-unfill 0.1s ease-out 0.1s both;
            }
            &.unfill-lvl3 {
                animation: jointline-unfill 0.1s ease-out 0.2s both;
            }
        }
    }
}

@keyframes jointline-fill {
    0% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes jointline-unfill {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}
