.main {
    &.index, &.download {
        @include flex-cc;
        min-height: calc(100vh - 250px);
    }
}

.main .progress {
    @include flex-cc;
    margin: 10px;
    margin-bottom: 30px;
    align-items: flex-start;
    padding: 20px;
    width: 64%;
    .title {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        width: 100%;
        position: relative;
        @include flex-cr;
        justify-content: flex-start;
        .chevron-right {
            margin-right: 10px;
        }
        i {
            position: absolute;
            right: 0;
            align-self: flex-end;
            font-weight: normal;
            font-size: 0.8em;
            text-align: end;
        }
    }
    .bar {
        margin-top: 10px;
        position: relative;
        width: 100%;
        height: 10px;
        background: gainsboro;
        > div {
            position: absolute;
            height: inherit;
            background: rosybrown;
        }
    }
}

