@import "../mixins/flex.scss";

.prev,
.next {
    @include flex-cc;
    position: fixed;
    top: 0;
    min-height: 100%;
    width: 5%;
    z-index: 5;
    background: transparent;
    transition: all 0.3s ease-out;
    &:hover {
        background: royalblue;
    }
    .caret-right-solid {
        stroke: white;
        fill: white;
        transition: all 0.3s ease-out;
        width: 64px;
        height: 64px;
    }
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    &:link,
    &:active,
    &:hover,
    &:visited {
        text-decoration: none;
        color: white;
    }
}

.prev {
    left: 0;
    .caret-right-solid {
        transform: rotate(180deg);
    }
}

.next {
    right: 0;
    &:hover {
        background: royalblue;
    }
    &:link,
    &:active,
    &:hover,
    &:visited {
        text-decoration: none;
        color: white;
    }
}
