<div class="desc-content">
    <h2>I<span>nteractive</span> </h2>
    <h2>R<span>eg</span>I<span>on</span> </h2>
    <h2>S<span>elector</span></h2>
    <p>This is what it used to be;</p>
    <p>now it's a sign of <i>experimental</i> functions!</p>
    <p>TODOs:</p>
    <ul>
        <li>SRCNN Hi-res rebuilding</li>
        <li>...</li>
    </ul>
</div>