<div class="desc-content">
    <h2>
        Pix<span>iv</span> Crawl<span>er</span>
    </h2>
    <p>
        A typical Pixiv crawler that is capable of:
    </p>
    <ul>
        <li>
            >> Getting pictures by illustrator id
        </li>
        <li>
            >> Getting pictures by tags
        </li>
        <li>
            >> Recording with metadata
        </li>
    </ul>
</div>