<div class="desc-content">
    <h2>Settings</h2>
    <ul>
        <li>>> Manage website behavior, appearance, and content.</li>
        <li>>> Manage Pixiv account.</li>
        <li>>> Manage picture storage.</li>
    </ul>
</div>
