<div class="desc-content">
    <h2>File Manager</h2>
    <p>A dedicated file manager for:</p>
    <ul>
        <li>
            >> Browse with metadata
        </li>
        <li>
            >> Search with metadata
        </li>
        <li>
            >> Sort by metadata
        </li>
    </ul>
</div>
