<LinkTo class="picture-preview" @route="picture" @model={{@picture}}>
    <div class="preview">
        <img alt="preview" src={{@picture.url}}/>
    </div>
    <div class="title">{{@picture.title}}</div>
    <div class="illust">{{@picture.illust}}</div>
</LinkTo>