@mixin flex_cc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-cr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@mixin flex-sar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

@mixin flex-sbr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}