@mixin makeCircle($radius) {
    width: $radius;
    height: $radius;
    border-radius: calc($radius / 2);
}

@keyframes static {
    0% {
    }
    100% {
    }
}

@mixin makeUrl {
    transition: all 0.3s ease-out;
    &:hover {
        color: royalblue;
    }
}
