@keyframes static {}
.ani.rain .raindot {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  z-index: 10;
  animation: raindots-scale 0.4s cubic-bezier(1, 0, 1, 1) forwards, static 0.4s 2s linear forwards, raindots-fade 0.8s 2.4s cubic-bezier(1, 0, 1, 1) forwards;
}
.ani.rain .hint {
  z-index: 11;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: hint-float 5s linear infinite;
}
.ani.rain .hint .title, .ani.rain .hint .content {
  max-width: 300px;
  animation: hint-fade 0.8s 1.6s cubic-bezier(1, 0, 1, 1) forwards;
}
.ani.rain .link {
  z-index: -1;
  position: fixed;
  visibility: hidden;
}

@keyframes raindots-scale {
  0% {
    background-color: royalblue;
    transform: scale(0.1);
  }
  100% {
    background-color: skyblue;
    transform: scale(100);
  }
}
@keyframes raindots-fade {
  0% {
    background-color: skyblue;
  }
  100% {
    background-color: white;
  }
}
@keyframes hint-float {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 4px;
    top: 4px;
  }
  67% {
    left: 0;
    top: 0;
  }
  100% {
    left: 4px;
    top: 4px;
  }
}
@keyframes hint-fade {
  0% {
    color: black;
  }
  100% {
    color: transparent;
  }
}
.home.main li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.home.main li :hover {
  cursor: pointer;
}
.home.main li .chev-right {
  width: 30px;
  height: 30px;
  position: absolute;
  animation: chev-right-showup 0.3s linear forwards;
}
.home.main li .chev-right svg {
  fill: black;
  stroke: black;
}
.home.main li button {
  margin: 1em 0;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@keyframes chev-right-showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nav-text-move-left {
  0% {
    transform: translateX(0);
    color: black;
  }
  100% {
    transform: translateX(40px);
    color: darkorange;
    border-bottom: 1px solid black;
  }
}
.home.background-right {
  z-index: -3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, skyblue, royalblue);
  -webkit-clip-path: polygon(48% 0, 100% 0, 100% 100%, 58% 100%);
          clip-path: polygon(48% 0, 100% 0, 100% 100%, 58% 100%);
}

.home.background-middle {
  z-index: -2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, lightsalmon, orange);
  -webkit-clip-path: polygon(38% 0, 50% 0, 60% 100%, 48% 100%);
          clip-path: polygon(38% 0, 50% 0, 60% 100%, 48% 100%);
}

.home.background-left {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, lightgray, #fff);
  -webkit-clip-path: polygon(0 0, 40% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 40% 0, 50% 100%, 0 100%);
}

.home.canvas {
  z-index: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.home.background-triangle {
  z-index: 0;
  -webkit-clip-path: polygon(50% 0, 80% 100%, 20% 100%);
          clip-path: polygon(50% 0, 80% 100%, 20% 100%);
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
}

@keyframes triangle-float {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}
.home.main {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.home.main .left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 15%;
  top: 10%;
}
.home.main .left h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.home.main .left h2 em {
  font-size: 3em;
}
.home.main .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 30vw;
  right: 8vw;
  top: 20%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.home.main .right h2 {
  font-size: 2em;
  margin-bottom: 1.8em;
}
.home.main .right div {
  font-size: 1.5em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: gainsboro;
  z-index: 10;
  transition: all 0.2s ease-out;
}
nav button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3em;
  transition: all 0.2s ease-out;
  height: 50px;
  padding: 0 5vw;
  width: -moz-max-content;
  width: max-content;
}
nav button:hover {
  background: lightsteelblue;
  color: white;
}
nav :first-child button {
  font-size: 1em;
}

.jumpout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  max-height: 200px;
  padding: 10px 0;
  font-size: 1.2em;
  position: fixed;
  top: 75px;
  color: white;
  background: darkorange;
  border-radius: 200px;
  animation: jumpout-show 5s ease-in-out forwards;
  z-index: 100;
}

@keyframes jumpout-show {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html :has(.ani) {
  overflow: hidden;
}

html :has(.fm) {
  overflow-y: scroll;
}

.fm {
  position: absolute;
  width: 80%;
  min-height: 100vh;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fm .summary {
  align-self: center;
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fm .summary .container {
  perspective: 2000px;
  width: 100vw;
  height: inherit;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fm .summary .background {
  width: 120%;
  height: 120%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  filter: brightness(50%);
}
.fm .summary .total {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  color: wheat;
  font-size: 2em;
}
.fm .summary .total em {
  color: burlywood;
  font-size: 2.5em;
  margin: 0 10px;
}
.fm .searchbar {
  width: 80vw;
  height: 3em;
  border-radius: 3em;
  border: 1px solid gray;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  transition: all 0.3s ease-out;
}
.fm .searchbar input {
  flex-grow: 1;
}
.fm .searchbar .layer {
  position: fixed;
  left: 0;
  top: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.fm .searchbar filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.fm .searchbar filter span {
  margin-left: 0.2em;
  font-size: 0.8em;
}
.fm .searchbar:has(input:focus) {
  border: 1px solid royalblue;
}
.fm .pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.fm .pictures .picture-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em;
  max-width: 10vw;
}
.fm .pictures .picture-preview .preview {
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fm .pictures .picture-preview .preview img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  box-shadow: 0 0 2px 0 gray;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.fm .pictures .picture-preview .preview img:hover {
  transform: scale(1.2);
}
.fm .pictures .picture-preview .title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: black;
  text-decoration: none;
  margin: 10px 0;
}
.fm .pictures .picture-preview .title:hover {
  color: royalblue;
  text-decoration: underline;
}
.fm .pictures .picture-preview .illust {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.9em;
  font-style: italic;
  color: darkgray;
}

html :has(.picture) {
  overflow-y: scroll;
}

html :has(.ani.rain) {
  overflow: hidden;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
}
.picture .img-original {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.picture .img-original .info {
  align-self: flex-start;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 2em 0;
}
.picture .img-original .info .title {
  font-size: 2.5em;
  font-weight: bold;
  color: royalblue;
  margin-top: 50px;
  margin-bottom: 0.2em;
}
.picture .img-original .info .illust {
  font-size: 1.8em;
  margin-bottom: 0.6em;
  transition: all 0.3s ease-out;
}
.picture .img-original .info .illust i {
  font-size: 0.8em;
  color: gray;
}
.picture .img-original .info .illust:hover {
  color: royalblue;
}
.picture .img-original .info .time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}
.picture .img-original .info .time:hover {
  color: royalblue;
}
.picture .img-original .info .time .clock-solid {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.picture .img-original .info .views span {
  margin-right: 5px;
}
.picture .img-original .preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.picture .img-original .preview img {
  max-width: 80vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.picture .tags {
  align-self: flex-start;
  margin: 50px 0;
}
.picture .tags .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 2em;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.picture .tags .title .hashtag-solid {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.picture .tags .tags-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}
.picture .tags .tags-main .tag {
  margin-right: 1em;
  font-size: 1.2em;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.3s ease-out;
}
.picture .tags .tags-main .tag:hover {
  color: royalblue;
}
.picture .tags .tags-main .tag span {
  color: gray;
  font-size: 0.8em;
}

body :has(.keywords) {
  overflow-y: scroll;
}

.keywords {
  width: 80vw;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: all 0.3s ease-out;
}
.keywords .add-keywords {
  width: 32px;
  height: 32px;
  margin: 10px;
  transition: all 0.3s ease-out;
  fill: gainsboro;
}
.keywords .add-keywords:hover {
  fill: darkorange;
}
.keywords .keyword {
  position: relative;
  background: gainsboro;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  transition: all 0.3s ease-out;
}
.keywords .keyword .keyword-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.keywords .keyword.expand {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.keywords .keyword.expand .value {
  pointer-events: none;
}
.keywords .keyword.expand .disabled {
  pointer-events: none;
}
.keywords .keyword .value {
  outline: none;
  border: none;
  background: transparent;
  font-weight: normal;
  min-width: 80px;
}
.keywords .keyword .type {
  background: royalblue;
  color: white;
  padding: 2px;
  border-radius: 2px;
  margin: 0 5px;
}
.keywords .keyword ul {
  position: absolute;
  left: 0;
  top: 0;
  align-self: flex-start;
  justify-self: flex-start;
  background: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}
.keywords .keyword ul li {
  width: 100px;
  transition: all 0.3s ease-out;
}
.keywords .keyword ul li button {
  padding: 10px;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
}
.keywords .keyword ul li:hover {
  background: darkorange;
  transform: scale(1.2);
}
.keywords .keyword ul li:first-child {
  border-radius: 5px 5px 0 0;
}
.keywords .keyword ul li:last-child {
  border-radius: 0 0 5px 5px;
}
.keywords .keyword .search-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: none;
  justify-content: flex-start;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.keywords .keyword .search-container.show {
  display: flex;
}
.keywords .keyword .search-container.show .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.keywords .keyword .search-container.show .desc {
  font-size: 1.3em;
  margin-left: 20px;
}

.progress-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.4) opacity(0.1);
  transition: all 0.03s ease-out;
}

.status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  height: 30px;
  width: 100vw;
  left: 0;
  bottom: 0;
  background: royalblue;
  transition: all 0.3s ease-out;
}
.status-bar.working {
  background: darkorange;
}
.status-bar.working .work-status svg {
  fill: royalblue;
}
.status-bar .left,
.status-bar .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.status-bar button {
  transition: all 0.3s ease-out;
}
.status-bar .status-bar-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease-out;
}
.status-bar .status-bar-item-container .details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  bottom: 35px;
  font-family: inherit;
  font-size: 0.8em;
  color: gray;
  background: gainsboro;
  border-radius: 2px;
  padding: 5px;
  opacity: 0;
  animation: status-bar-details-showup 0.5s 0.3s ease-out forwards;
}
.status-bar .status-bar-item-container .status-bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0 10px;
  height: 30px;
}
.status-bar svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.status-bar .status-bar-item-container:has(.link-slash-solid) {
  background: darksalmon;
}
.status-bar .step {
  background: darkseagreen;
}
.status-bar .status-bar-item-container:hover.refresh {
  background: orangered;
}
.status-bar .status-bar-item-container:hover.keyword-check, .status-bar .status-bar-item-container:hover.search-check {
  background: rgb(138, 167, 252);
}
.status-bar .status-bar-item-container.disabled {
  background: darkgray;
}
.status-bar .status-bar-item-container.disabled:hover button {
  cursor: not-allowed;
  background: darkgray;
}

@keyframes status-bar-details-showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

button {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
}

button:hover {
  cursor: pointer;
}

em {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  color: royalblue;
}

h2 {
  padding: 0;
  margin: 0;
}

input {
  border: none;
  padding: none;
  margin: none;
  border-radius: none;
}

input:focus {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=app.css.map */