body {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;

    margin: 0;
    padding: 0;

    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: white;
}

::-webkit-scrollbar-button {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

h2 {
    font-size: 2rem;
}

.nav {
    position: fixed;
    left: 10vw;
    display: flex;
    flex-direction: column;
}

.nav h2 {
    position: fixed;
    left: 10vw;
    top: 0;
    margin-top: 40px;
    font-size: 2.2rem;
    color: brown;
}

.nav h2 span {
    font-weight: bold;
    font-size: 2.5rem;
    color: royalblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav ul {
    position: relative;
    margin-top: 20px;
}

.slash {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}

.mainpage-item:hover .slash {
    font-size: 4rem;
    color: transparent;
    background: repeating-linear-gradient(45deg,
            orange,
            orange 8%,
            transparent 8%,
            transparent 9%);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: slash 10s linear infinite;
}

@keyframes slash {
    100% {
        background-position: 100% 100%;
    }
}

.line-focus {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line-upper,
.line-lower {
    position: relative;
    background-color: black;
    width: 5px;
    height: 20px;
    border-radius: 2.5px;
    transition: all 0.2s ease-in-out;
}

.line-upper {
    bottom: -2.5px;
}

.line-lower {
    top: -2.5px;
}

.mainpage-item:hover .line-upper {
    transform: rotate(-45deg) scale(1.3);
}

.mainpage-item:hover .line-lower {
    transform: rotate(45deg) scale(1.3);
}


.mainpage-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
}

.mainpage-item:hover {
    cursor: pointer;
}

.desc {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(60deg, transparent, transparent 50%, royalblue 50%, royalblue 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.desc-content {
    position: absolute;
    left: 65vw;
    max-width: 30vw;
    font-size: 1.1rem;
    color: white;
    display: none;
    animation: fadein 0.5s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.desc-content h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: min-content;
}

.desc-content h2 span {
    width: 0;
    overflow: hidden;
    animation: slidein 0.4s 0.1s ease-in forwards;
    color: orange;
}

@keyframes slidein {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.desc-content i {
    font-size: 1.2rem;
    color: orange;
}

.jump-trans {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    display: none;
}

.jump-trans .square-outer {
    position: fixed;
    width: 200px;
    height: 200px;
    border: 15px solid royalblue;
    animation: scalefill 0.4s cubic-bezier(.6, .04, .98, .34) forwards;
}

.jump-trans .square-inner {
    position: fixed;
    width: 150px;
    height: 150px;
    background: royalblue;
    animation: scalefill 0.4s cubic-bezier(.6, .04, .98, .34) forwards;
}

.jump-trans h2 {
    z-index: 2;
    color: white;
    width: min-content;
    animation: fadeout 0.4s cubic-bezier(.6, .04, .98, .34) forwards;
}

@keyframes scalefill {
    0% {
        transform: scale(0) rotate(45deg);
    }

    100% {
        transform: scale(20) rotate(45deg);
        background: white;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.init-indicator-ok {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background: yellowgreen;
    box-shadow: 0 0 5px yellowgreen;
    margin-right: 10px;
}

.init-indicator-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background: orange;
    box-shadow: 0 0 5px orange;
    margin-right: 10px;
}

.init-indicator-error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background: orangered;
    box-shadow: 0 0 5px orangered;
    margin-right: 10px;
}

.diag-info {
    position: absolute;
    display: block;
    left: 65vw;
    max-height: 80vh;
    overflow-y: auto;
    font-size: 1.1rem;
    letter-spacing: -2px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 30vw;
}

.diag-info li {
    font-size: 1.2rem;
    display: flex;
    margin: 20px 10px;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 35vw;
}

.download-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: none;
    border: none;
}

.download-bar:hover {
    cursor: pointer;
}

.download-bar .bg {
    width: 300px;
    height: 8px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.download-bar .progress {
    width: 10px;
    max-width: 300px;
    height: 8px;
    background: royalblue;
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    transition: all 0.02s linear;
}

.download-bar .text {
    margin-left: 20px;
    font-size: 1.8rem;
    color: orange;
    font-weight: bold;
}

.download-bar span {
    margin-left: 5px;
    font-size: 0.9rem;
    color: hsl(0, 0%, 50%);
    font-weight: normal;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 90%);
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    overflow: hidden;
}

.navbar button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: hsl(0, 0%, 50%);
    text-decoration: none;
    letter-spacing: -1px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 20;
    text-decoration: none;
}

.navbar button:hover {
    color: royalblue;
    text-decoration: underline;
    cursor: pointer;
}

.navbar .title {
    display: flex;
    align-items: baseline;
    font-size: 0.8rem;
    color: hsl(0, 0%, 50%);
}

.navbar .title button {
    color: royalblue;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 5px;
}

.navbar .focused {
    animation: fadein-white 0.4s ease-out forwards;
}

@keyframes fadein-white {
    0% {
        color: royalblue;
    }

    100% {
        color: white;
    }
}

.navbar div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shrink-trans {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
}

.shrink-trans .square-outer {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 7.5px solid royalblue;
    animation: shrinkfill 0.4s ease-out forwards;
}

.shrink-trans .square-inner {
    position: absolute;
    width: 75px;
    height: 75px;
    background: royalblue;
    animation: shrinkfill 0.4s ease-out forwards;
}

@keyframes shrinkfill {
    0% {
        transform: scale(20) rotate(45deg);
    }

    100% {
        transform: scale(1) rotate(45deg);
    }
}

.arrow-trans {
    display: none;
}

.arrow-trans-left,
.arrow-trans-right {
    z-index: 200;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.arrow-trans-left .thin .upper {
    width: 100px;
    height: 50vh;
    transform: skewX(-45deg);
    background-color: royalblue;
    position: fixed;
    right: calc(25vh + 300px);
    top: 0;
    animation: toright-thin 0.6s ease-in forwards;
}

.arrow-trans-right .thin .upper {
    width: 100px;
    height: 50vh;
    transform: skewX(45deg);
    background-color: royalblue;
    position: fixed;
    left: calc(25vh + 300px);
    top: 0;
    animation: toleft-thin 0.6s ease-in forwards;
}

.arrow-trans-left .thin .lower {
    width: 100px;
    height: 50vh;
    transform: skewX(45deg);
    background-color: royalblue;
    position: fixed;
    right: calc(25vh + 300px);
    top: 50vh;
    animation: toright-thin 0.6s ease-in forwards;
}

.arrow-trans-right .thin .lower {
    width: 100px;
    height: 50vh;
    transform: skewX(-45deg);
    background-color: royalblue;
    position: fixed;
    left: calc(25vh + 300px);
    top: 50vh;
    animation: toleft-thin 0.6s ease-in forwards;
}

@keyframes toright-thin {
    0% {
        right: -25vh;
    }

    100% {
        right: calc(100vw + 25vh + 300px);
    }
}

@keyframes toleft-thin {
    0% {
        left: -25vh;
    }

    100% {
        left: calc(100vw + 25vh + 300px);
    }
}

.arrow-trans-left .thick .upper {
    width: 250px;
    height: 50vh;
    transform: skewX(-45deg);
    background-color: royalblue;
    position: fixed;
    right: 25vh;
    top: 0;
    animation: toright-thick 0.6s ease-in forwards;
}

.arrow-trans-right .thick .upper {
    width: 250px;
    height: 50vh;
    transform: skewX(45deg);
    background-color: royalblue;
    position: fixed;
    left: 25vh;
    top: 0;
    animation: toleft-thick 0.6s ease-in forwards;
}

.arrow-trans-left .thick .lower {
    width: 250px;
    height: 50vh;
    transform: skewX(45deg);
    background-color: royalblue;
    position: fixed;
    right: 25vh;
    top: 50vh;
    animation: toright-thick 0.6s ease-in forwards;
}

.arrow-trans-right .thick .lower {
    width: 250px;
    height: 50vh;
    transform: skewX(-45deg);
    background-color: royalblue;
    position: fixed;
    left: 25vh;
    top: 50vh;
    animation: toleft-thick 0.6s ease-in forwards;
}

@keyframes toright-thick {
    0% {
        right: calc(-25vh - 300px);
    }

    100% {
        right: calc(100vw + 25vh);
    }
}

@keyframes toleft-thick {
    0% {
        left: calc(-25vh - 300px);
    }

    100% {
        left: calc(100vw + 25vh);
    }
}

.arrow-bg-left,
.arrow-bg-right {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.arrow-bg-left .upper {
    position: fixed;
    width: 200vw;
    height: 50vh;
    background: royalblue;
    top: 0;
    left: calc(100vw + 25vh);
    transform: skewX(-45deg);
    animation: toright-bg 0.4s ease-in forwards;
}

.arrow-bg-right .upper {
    position: fixed;
    width: 200vw;
    height: 50vh;
    background: royalblue;
    top: 0;
    right: calc(100vw + 25vh);
    transform: skewX(45deg);
    animation: toleft-bg 0.4s ease-in forwards;
}

.arrow-bg-left .lower {
    position: fixed;
    width: 200vw;
    height: 50vh;
    background: royalblue;
    top: 50vh;
    left: calc(100vw + 25vh);
    transform: skewX(45deg);
    animation: toright-bg 0.4s ease-in forwards;
}

.arrow-bg-right .lower {
    position: fixed;
    width: 200vw;
    height: 50vh;
    background: royalblue;
    top: 50vh;
    right: calc(100vw + 25vh);
    transform: skewX(-45deg);
    animation: toleft-bg 0.4s ease-in forwards;
}

@keyframes toright-bg {
    0% {
        left: calc(100vw + 25vh);
        background: royalblue;
    }

    100% {
        left: -25vh;
        background: white;
    }
}

@keyframes toleft-bg {
    0% {
        right: calc(100vw + 25vh);
        background: royalblue;
    }

    100% {
        right: -25vh;
        background: white;
    }
}

.pixcrawl {
    position: absolute;
    left: 0;
    top: 150px;
    min-height: calc(100vh - 150px);
    width: calc(100vw - 80px);
    margin: 0 40px;
    /* background: hsl(0, 0%, 95%); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: baseline; */
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
}

.steps .line {
    width: 200px;
    height: 2px;
    background: repeating-linear-gradient(90deg, gainsboro, gainsboro 3%, transparent 3%, transparent 5%);
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
}

.steps .line-focus {
    background: repeating-linear-gradient(90deg, royalblue, royalblue 3%, transparent 3%, transparent 5%);
}

.diamond {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: min-content;
    transition: all 0.2s ease-in-out;
    color: hsl(0, 0%, 50%);
    background: none;
    border: none;
}

.diamond-upper .title {
    position: relative;
    bottom: 25px;
}

.diamond-lower .title {
    position: relative;
    top: 25px;
}

.diamond .outer {
    width: 16px;
    height: 16px;
    border: 2px solid hsl(0, 0%, 50%);
    transform: rotate(45deg);
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.diamond .inner {
    width: 8px;
    height: 8px;
    background: hsl(0, 0%, 50%);
    transform: rotate(45deg);
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.diamond .cancel {
    position: absolute;
    width: 4px;
    height: 50px;
    z-index: 100;
    border-radius: 2px;
    transform: rotate(45deg);
    background: orange;
    overflow: hidden;
    animation: show-diamond-cancel 0.3s ease-in-out forwards;
    display: none;
}

@keyframes show-diamond-cancel {
    0% {
        height: 0px;
    }

    100% {
        height: 40px;
    }
}

.diamond-focus {
    color: royalblue;
}

.diamond-focus .outer {
    border: 2px solid royalblue;
}

.diamond-focus .inner {
    background: royalblue;
}

.kwd-input {
    margin: 50px 0;
    width: 60%;
    min-height: 50px;
    /* border: 2px solid hsl(0, 0%, 90%);
    border-radius: 25px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s linear;
}

.kwd-input h2 {
    font-size: 2rem;
    margin: 0;
    margin-right: 20px;
}

.kwd-input .placeholder {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8rem;
    color: hsl(0, 0%, 50%);
}

.kwd-input .add-new {
    margin: 0 5px;
    background: none;
    border: none;
}

.kwd-input .add-new:hover {
    cursor: pointer;
}

.kwd-input .icon-tag {
    width: 30px;
    height: 30px;
    fill: royalblue;
}

.kwd-input .icon-tags {
    width: 30px;
    height: 30px;
    fill: royalblue;
    display: none;
}

.input-box .delete {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box .cross-x {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    fill: hsl(0, 0%, 50%);
    transition: all 0.1s linear;
}

.input-box .cross-x:hover {
    cursor: pointer;
    transform: scale(1.3);
    fill: orangered;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 15px;
    background: hsl(0, 0%, 90%);
    margin: 10px;
    animation: none;
}

.input-box input {
    display: inline-block;
    outline: none;
    border: none;
    background: transparent;
    margin: 0 15px 0 5px;
    width: 30px;
    min-width: 30px;
    max-width: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-box:focus {
    border: none;
}

.input-box .sort-down {
    margin: 0 10px;
    width: 20px;
    height: 20px;
}

.input-box .tag-dragdown {
    align-self: baseline;
    display: flex;
    align-items: baseline;
    justify-content: center;
    display: none;
    z-index: 200;
}

.input-box ul {
    margin-left: 15px;
    border-radius: 5px;
    animation: dragdown-show 0.2s ease-out;
}

.input-box button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    width: inherit;
    height: inherit;
    cursor: pointer;
}

@keyframes dragdown-show {
    0% {
        clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.input-box li:first-child {
    border-radius: 5px 5px 0 0;
}

.input-box li:last-child {
    border-radius: 0 0 5px 5px;
}

.input-box li {
    cursor: pointer;
    padding: 8px 10px;
    margin: 0;
    display: flex;
    align-items: center;
    background: hsl(0, 0%, 90%);
    transition: all 0.2s ease-in-out;
}

.input-box li:hover {
    background: orange;
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 0px darkgray;
}

.input-box li .icon {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8rem;
    color: royalblue;
    /* vertical-align: center; */
    text-align: center;
    margin-right: 5px;
}

.input-box li .text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input-box .tag-type {
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    padding: 2px 3px;
    background: royalblue;
    height: 20px;
    border-radius: 2px;
}

.next-step {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.next-step span {
    font-weight: bold;
    font-size: 2rem;
}

.next-step .angles-right {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    fill: royalblue;
    transition: all 0.2s ease-in-out;
}

.next-step:hover {
    cursor: pointer;
    text-decoration: underline;
    color: royalblue;
}

.diag-msg {
    position: fixed;
    right: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
}

.diag-msg .top-line {
    width: inherit;
    height: 10px;
    background: orangered;
    animation: toright-topline 5.3s linear forwards;
}

@keyframes toright-topline {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}

.diag-msg .msg-box {
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    min-height: 100px;
    width: 180px;
    background: #ffca28;
    padding: 5px 10px;
    animation: fill-bg-msgbox 0.3s ease-in forwards, slideaway-msgbox 0.3s 5s ease-out forwards;
}

@keyframes fill-bg-msgbox {
    0% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


@keyframes slideaway-msgbox {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}

@keyframes highlight-inputbox {
    0% {
        background: hsl(0, 0%, 90%);
    }

    100% {
        background: #ffca28;
    }
}

@keyframes dim-inputbox {
    0% {
        background: #ffca28;
    }

    100% {
        background: hsl(0, 0%, 90%);
    }
}
