@keyframes static {}
.ani.rain .raindot {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  z-index: 10;
  animation: raindots-scale 0.4s cubic-bezier(1, 0, 1, 1) forwards, static 0.4s 2s linear forwards, raindots-fade 0.8s 2.4s cubic-bezier(1, 0, 1, 1) forwards;
}
.ani.rain .hint {
  z-index: 11;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: hint-float 5s linear infinite;
}
.ani.rain .hint .title, .ani.rain .hint .content {
  max-width: 300px;
  animation: hint-fade 0.8s 1.6s cubic-bezier(1, 0, 1, 1) forwards;
}
.ani.rain .link {
  z-index: -1;
  position: fixed;
  visibility: hidden;
}

@keyframes raindots-scale {
  0% {
    background-color: royalblue;
    transform: scale(0.1);
  }
  100% {
    background-color: skyblue;
    transform: scale(100);
  }
}
@keyframes raindots-fade {
  0% {
    background-color: skyblue;
  }
  100% {
    background-color: white;
  }
}
@keyframes hint-float {
  0% {
    left: 0;
    top: 0;
  }
  33% {
    left: 4px;
    top: 4px;
  }
  67% {
    left: 0;
    top: 0;
  }
  100% {
    left: 4px;
    top: 4px;
  }
}
@keyframes hint-fade {
  0% {
    color: black;
  }
  100% {
    color: transparent;
  }
}
.home.main li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.home.main li :hover {
  cursor: pointer;
}
.home.main li .chev-right {
  width: 30px;
  height: 30px;
  position: absolute;
  animation: chev-right-showup 0.3s linear forwards;
}
.home.main li .chev-right svg {
  fill: black;
  stroke: black;
}
.home.main li button {
  margin: 1em 0;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@keyframes chev-right-showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nav-text-move-left {
  0% {
    transform: translateX(0);
    color: black;
  }
  100% {
    transform: translateX(40px);
    color: darkorange;
    border-bottom: 1px solid black;
  }
}
.home.background-right {
  z-index: -3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, skyblue, royalblue);
  -webkit-clip-path: polygon(48% 0, 100% 0, 100% 100%, 58% 100%);
          clip-path: polygon(48% 0, 100% 0, 100% 100%, 58% 100%);
}

.home.background-middle {
  z-index: -2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, lightsalmon, orange);
  -webkit-clip-path: polygon(38% 0, 50% 0, 60% 100%, 48% 100%);
          clip-path: polygon(38% 0, 50% 0, 60% 100%, 48% 100%);
}

.home.background-left {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, lightgray, #fff);
  -webkit-clip-path: polygon(0 0, 40% 0, 50% 100%, 0 100%);
          clip-path: polygon(0 0, 40% 0, 50% 100%, 0 100%);
}

.home.canvas {
  z-index: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.home.background-triangle {
  z-index: 0;
  -webkit-clip-path: polygon(50% 0, 80% 100%, 20% 100%);
          clip-path: polygon(50% 0, 80% 100%, 20% 100%);
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
}

@keyframes triangle-float {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}
.home.main {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.home.main .left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 15%;
  top: 10%;
}
.home.main .left h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.home.main .left h2 em {
  font-size: 3em;
}
.home.main .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 30vw;
  right: 8vw;
  top: 20%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.home.main .right h2 {
  font-size: 2em;
  margin-bottom: 1.8em;
}
.home.main .right div {
  font-size: 1.5em;
}/*# sourceMappingURL=home.css.map */