.pixcrawl {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: calc(100vh - 50px);
    position: absolute;
    left: 10%;
    top: 50px;
}

.pixcrawl .steps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    top: 100px;
}

.pixcrawl .steps .step {
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.pixcrawl .steps .step-current {
    color: royalblue;
}

.pixcrawl .steps .step:hover {
    transform: scale(1);
    color: orange;
}

.pixcrawl .steps .title-up {
    bottom: 30px;
    font-size: large;
    position: relative;
}


.pixcrawl .steps .title-down {
    top: 30px;
    font-size: large;
    position: relative;
}

.pixcrawl .steps .diamond,
.pixcrawl .steps .diamond-focus {
    position: absolute;
    width: 15px;
    height: 15px;
    background-clip: content-box;
    padding: 5px;
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}

.pixcrawl .steps .diamond {
    background-color: hsl(0, 0%, 50%);
    border: 2px solid hsl(0, 0%, 50%);
}

.pixcrawl .steps .diamond-current {
    background-color: royalblue;
    border: 2px solid royalblue;
}

.pixcrawl .steps .diamond-focus {
    background-color: orange;
    border: 2px solid orange;
}


.pixcrawl .steps .join {
    width: 200px;
    height: 0;
    border: 1px dashed hsl(0, 0%, 50%);
    margin: 0 16px;
}

.pixcrawl .keyword,
.pixcrawl .search {
    position: absolute;
    top: 200px;
    display: flex;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
}

.pixcrawl .keyword .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /* border-left: 5px solid royalblue; */
    /* padding-left: 10px; */
}

.pixcrawl .keyword h2 {
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

.pixcrawl .keyword .add-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 50%);
    margin-left: 10px;
}

.pixcrawl .keyword .icon-tag,
.pixcrawl .keyword .icon-tags {
    width: 30px;
    height: 30px;
    fill: royalblue;
    margin-left: 10px;
    cursor: pointer;
}

.pixcrawl .keyword .icon-tags {
    display: none;
}

.pixcrawl .tag-item {
    display: flex;
    align-items: center;
    height: 30px;
    background: hsl(0, 0%, 90%);
    border-radius: 15px;
    margin: 10px;
}

@keyframes tagitem-highlight {
    100% {
        background: #FBC02D;
    }
}

@keyframes tagitem-dim {
    100% {
        background: hsl(0, 0%, 90%);
    }
}

.pixcrawl .tag-item input {
    width: 50px;
    max-width: 200px;
    min-width: 50px;
}

.pixcrawl .tag-name {
    background: royalblue;
    color: white;
    padding: 0 2px;
    margin-left: 15px;
    margin-right: 10px;
    height: 20px;
    border-radius: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.pixcrawl .tag-item .close-tag {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    fill: hsl(0, 0%, 50%);
    transition: all 0.2s ease-out;
}

.pixcrawl .tag-item .close-tag:hover {
    fill: orangered;
    transform: scale(1.2);
}

.pixcrawl .tag-item .cross-x {
    width: 15px;
    height: 15px;
    fill: inherit;
    transition: all 0.2s ease-out;
}

.pixcrawl .tag-dropdown {
    /* width: 0; */
    /* overflow: hidden; */
    align-self: baseline;
    display: none;
    flex-direction: column;
    width: max-content;
    background: hsl(0, 0%, 90%);
    border-radius: 5px;
    animation: dropdown-showup 2s ease-out forwards;
    z-index: 100;
}

@keyframes dropdown-showup {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 1000px;
    }
}

.pixcrawl .tag-dropdown .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    transition: all 0.2s ease-out;
}

.pixcrawl .tag-dropdown .dropdown-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pixcrawl .tag-dropdown .dropdown-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pixcrawl .tag-dropdown .dropdown-item:hover {
    transform: scale(1.1);
    background: orange;
    box-shadow: 2px 2px 2px 0px hsl(0, 0%, 50%);
}

.pixcrawl .tag-dropdown .dropdown-item .tag-icon {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: royalblue;
    margin-right: 10px;
}

.pixcrawl .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.pixcrawl .bottom-nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: bottom-nav-showup 0.2s 0.2s ease-out forwards;
}

.pixcrawl .bottom-nav button:hover {
    color: royalblue;
    text-decoration: underline;
}

.pixcrawl .bottom-nav span {
    font-size: 2rem;
    margin-right: 10px;
    font-weight: bold;
}

.pixcrawl .bottom-nav:hover .angles-left,
.pixcrawl .bottom-nav:hover .angles-right {
    transform: translateX(5px);
}

.pixcrawl .bottom-nav .angles-left,
.pixcrawl .bottom-nav .angles-right {
    width: 30px;
    height: 30px;
    fill: royalblue;
    transition: all 0.2s ease-out;
}

.pixcrawl .search {
    display: none;
}

.pixcrawl .hint {
    position: fixed;
    z-index: 100;
    right: 5px;
    display: none;
    animation: hint-showup 0.2s ease-out forwards;
}

@keyframes hint-showup {
    0% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.pixcrawl .hint .topbar {
    height: 10px;
    width: 150px;
    background: orange;
    animation: topbar-countdown 5s 0.2s linear forwards;
}

@keyframes topbar-countdown {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}

.pixcrawl .hint .content {
    min-height: 130px;
    width: 130px;
    padding: 10px;
    background: #FBC02D;
    animation: hint-content-hide 0.2s 5.2s ease-out forwards;
    font-weight: bold;
}

@keyframes hint-content-hide {
    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.pixcrawl .arrow {
    display: flex;
    margin: 0 50px;
    /* display: none; */
    flex-direction: row;
    align-items: center;
}

.pixcrawl .arrow .angle-right {
    padding: 0;
    margin: 0 -5px;
}

.pixcrawl .arrow .angle-right:nth-child(1) {
    animation: blink-angle 1.5s linear infinite;
}

.pixcrawl .arrow .angle-right:nth-child(2) {
    animation: blink-angle 1.5s 0.5s linear infinite;
}

.pixcrawl .arrow .angle-right:nth-child(3) {
    animation: blink-angle 1.5s 1s linear infinite;
}

@keyframes blink-angle {
    0% {
        fill-opacity: 100%;
    }

    17% {
        fill-opacity: 0%;
    }

    33% {
        fill-opacity: 100%;
    }
}

.pixcrawl .search li {
    /* display: none; */
    animation: search-item-show 0.5s ease-out forwards;
    padding: 10px 0;
    flex-direction: row;
    align-items: flex-start;
}

@keyframes search-item-show {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 20000px;
    }
}

.pixcrawl .search .progress {
    background: hsl(0, 0%, 90%);
    padding-left: 20px;
    padding-bottom: 20px;
}

.pixcrawl .search .progress .bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.pixcrawl .search .progress .bar,
.pixcrawl .search .progress .bar-bg {
    height: 10px;
    width: 600px;
}

.pixcrawl .search .progress .bar {
    width: 0px;
    background: royalblue;
    position: absolute;
    transition: all 20ms ease-out;
}

.pixcrawl .search .progress .bar-bg {
    background: hsl(0, 0%, 80%);
    position: relative;
}

.pixcrawl .search .progress .percent {
    margin-left: 20px;
}

.pixcrawl .search .progress .abstract,
.pixcrawl .search .progress .abstract-progress {
    font-size: 1.5rem;
}

.pixcrawl .search .progress .abstract span,
.pixcrawl .search .progress .abstract-progress span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.pixcrawl .search .progress .abstract span {
    color: rosybrown;
}

.pixcrawl .search .progress .completed {
    color: #00C9A7;
}

.pixcrawl .search .progress .failed {
    color: #C44F6F;
}

.pixcrawl .search .search-keyword {
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.pixcrawl .search .search-keyword .value,
.pixcrawl .search .result-abstract .value,
.pixcrawl .search .result-extended .value {
    font-size: 1.3rem;
    font-style: italic;
    width: max-content;
}

.pixcrawl .search .search-keyword .type,
.pixcrawl .search .result-abstract .type,
.pixcrawl .search .result-extended .type {
    position: relative;
    bottom: 5px;
    font-size: 0.6rem;
    background: royalblue;
    padding: 0 2px;
    margin-left: 5px;
    color: white;
    border-radius: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pixcrawl .search .result-abstract .value-alt,
.pixcrawl .search .result-extended .value-alt {
    color: hsl(0, 0%, 50%);
    margin-left: 10px;
    font-size: 0.8rem;
    align-self: center;
}

.triangle-right,
.triangle-down,
.triangle-disabled {
    position: relative;
    top: 25px;
    width: 20px;
    height: 20px;
    fill: rosybrown;
    margin: 0 20px;
    transform: rotate(-30deg);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.triangle-down {
    transform: rotate(180deg);
    transition: all 0.2s ease-out;
}

.triangle-disabled.triangle-right {
    cursor: default;
}

.pixcrawl .search .search-result,
.pixcrawl .search .result-extended,
.pixcrawl .search .result-extended .previews,
.pixcrawl .search .result-extended .tags {
    display: flex;
    flex-direction: column;
}

.pixcrawl .search .search-result,
.pixcrawl .search .search-error {
    position: relative;
    background: transparent;
    transition: all 0.2s ease-out;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    min-height: 70px;
}

.pixcrawl .search .search-error {
    color: #C44F6F;
    display: flex;
}

.pixcrawl .search .result-extended {
    position: relative;
    width: 600px;
    padding-left: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    animation: result-ext-show 0.2s ease-out forwards;

    /* display: none; */
}

@keyframes result-ext-show {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.pixcrawl .search .result-abstract,
.pixcrawl .search .result-extended .preview-imgs,
.pixcrawl .search .result-extended .tag-contents {
    display: flex;
    flex-direction: row;
}

.pixcrawl .search .result-abstract {
    position: relative;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 610px;
    height: 54px;
}

.pixcrawl .search .result-abstract img[alt="avatar"],
.pixcrawl .search .result-extended img[alt="avatar"] {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid gray;
    margin-right: 10px;
}

.pixcrawl .search .search-result h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.3rem;
}

.pixcrawl .search .result-extended .preview-imgs img {
    width: 125px;
    height: 125px;
    margin-right: 10px;
    border-radius: 5px;
}

.pixcrawl .search .result-extended .tag-contents {
    flex-wrap: wrap;
}

.pixcrawl .search .result-extended .tag-included>span,
.pixcrawl .search .result-extended .tag-new>span {
    display: none;
    font-size: 0.8rem;
    text-decoration: none;
}


.pixcrawl .search .result-extended .tag-included {
    font-size: 1.1rem;
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
    color: #00C9A7;
}

.pixcrawl .search .result-extended .tag-included:hover,
.pixcrawl .search .result-extended .tag-new:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pixcrawl .search .result-extended .tag-included:hover>span,
.pixcrawl .search .result-extended .tag-new:hover>span {
    display: block;
}

.pixcrawl .search .result-extended .tag-new {
    font-size: 1.1rem;
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
    color: royalblue;
}

.hourglass {
    position: relative;
    top: 25px;
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    margin: 0 20px;
    /* display: none; */
    animation: hourglass-rotation 2s linear infinite;
}

@keyframes hourglass-rotation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pixcrawl .result-extended .candidate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.pixcrawl .result-extended .candidate .value {
    z-index: 1;
}

.pixcrawl .result-extended .candidate .value:hover {
    color: royalblue;
    text-decoration: underline;
    cursor: pointer;
}

.pixcrawl .search .cross-x {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: all 0.2s ease-out;
}

.pixcrawl .search .cross-x:hover {
    fill: #C44F6F;
    transform: scale(1.1);
}

.pixcrawl .result-abstract .cross-x,
.pixcrawl .result-extended .cross-x {
    position: absolute;
    right: 20px;
    top: 40px;
}

.pixcrawl .search .more .angles-right,
.pixcrawl .search .result-abstract .back .angles-left {
    position: absolute;
    cursor: pointer;
    right: 20px;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-out;
}

.pixcrawl .search .more .angles-right:hover,
.pixcrawl .search .result-abstract .back .angles-left:hover {
    fill: royalblue;
    right: 18px;
}

.pixcrawl .search .result-abstract .more .angles-right,
.pixcrawl .search .result-abstract .back .angles-left {
    top: 15px;
}

.pixcrawl .search .result-itembg {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.1); */
    transition: all 0.2s ease-out;
}


.pixcrawl .search .result-abstract .value>span {
    position: relative;
    bottom: 2px;
    font-size: 0.8rem;
    color: #00C9A7;
}

.pixcrawl .search .result-abstract .type>span,
.pixcrawl .search .result-extended .type>span {
    color: #2ee9ca;
    font-weight: bolder;
}

.pixcrawl .search .result-extended .tag-contents-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
}

.pixcrawl .search .result-extended .tag-contents-tags .tag-new,
.pixcrawl .search .result-extended .tag-contents-tags .tag-included {
    margin-right: 0px;
}

.pixcrawl .search .result-extended .tag-contents-tags .tag-contents-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 5px;
}

.pixcrawl .search .floating-window {
    position: absolute;
    left: 70px;
    z-index: 100;
    width: 300px;
    background: hsl(0, 0%, 90%);
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
}

.pixcrawl .search .result-abstract>img[role="button"] {
    cursor: pointer;
}

.pixcrawl .search .floating-window img {
    max-width: 300px;
    max-height: 300px;
    align-self: center;
    margin-bottom: 20px;
}

.pixcrawl .search .floating-window .value-pname {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 250px;
}

.pixcrawl .search .floating-window .value-userinfo {
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 250px;
}

.pixcrawl .search .floating-window button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px;
}

.pixcrawl .search .floating-window button .cross-x {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    transition: all 0.2s linear;
}

.pixcrawl .search .floating-window button .cross-x:hover {
    fill: #C44F6F;
}

.pixcrawl .search .result-extended .author {
    display: flex;
    flex-direction: column;
}

.pixcrawl .search .result-extended .author-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
}